*{
    margin: 0;
}
.introduction{
width: 100%;
height: 100vh;
background-color: yellow;


}
.intro{
width: 800px;
height:250px;
display: flex;
padding: 150px 300px;
}
.logo{
width:300px ;
height: 350px;
}
.mainbody{
    width:400px ;
    height: 350px;
    background-color: white;
}
.bigwords{
    display: flex;
    text-transform: uppercase;
    margin: 20px 70px;
}
.autor{
    color: grey;
    display: flex;
    text-transform: uppercase;
    margin-left: 80px;
}
.text{
    color: grey;
    margin: 30px 70px;
    font-size: 17px;
}
.vv{
    display: flex;
}
.sell{
    margin-left: 40px;
}
.buy{
    width: 150px;
    height: 50px;
    background-color: dodgerblue;
    text-transform: uppercase;
    border-radius: 30px;
    margin-left: 40px;
    font-size: 20px;
    color: white;
    outline: none;
    border: none;
}